.Mui-expanded{
    margin: 0px !important;
    min-height: 34px !important;
}
/*.MuiListItem-gutters{*/
/*    padding: 5px 4px !important;*/
/*}*/


  .css-hxa4ur-MuiPaper-root-MuiAccordion-root:before{
    background-color: white;
  }
 